<?xml version="1.0" encoding="UTF-8"?>
<!--
  +=================================================================+
  SlipStream Server (WAR)
  =====
  Copyright (C) 2013 SixSq Sarl (sixsq.com)
  =====
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -=================================================================-
  -->

<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  
			     http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>SlipStream</display-name>

	<!-- Application class name -->
	<!--
	<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>com.sixsq.slipstream.main.RootApplication</param-value>
	</context-param>
	-->

	<!-- Restlet adapter -->
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>

		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.sixsq.slipstream.application.RootApplication</param-value>
		</init-param>

		<init-param>
			<param-name>org.restlet.clients</param-name>
			<param-value>HTTP HTTPS FILE CLAP</param-value>
		</init-param>

	</servlet>

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
