*~
target
/repository
slipstreamdb.*
bin
.classpath
.settings
*.iml
.idea/
.project
*.pem
*.p12
hsql*

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties

# Generated on dev mode by the UI part
war/raw-metadata-*
