*~
target
/repository
slipstreamdb.*
bin
.classpath
.settings
*.iml
.idea/
.project
*.pem
*.p12
hsql*
war/*
logs/
*.logs
*.log

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties

# Generated on dev mode by the UI part
raw-metadata-str*.xml

# Eclipse scrap page
scrap.jpage

downloads/*
