{:cat-nuvlabox       {:connectors    #{"nuvlabox-arthur-harden", "nuvlabox-bertil-ohlin",
                                       "nuvlabox-carl-cori", "nuvlabox-cecil-powell", "nuvlabox-christiane-n-volhard",
                                       "nuvlabox-felix-bloch", "nuvlabox-henry-dunant", "nuvlabox-joseph-e-murray",
                                       "nuvlabox-joseph-e-stiglitz", "nuvlabox-joseph-erlanger",
                                       "nuvlabox-joseph-h-taylor-jr", "nuvlabox-joseph-l-goldstein",
                                       "nuvlabox-jules-bordet", "nuvlabox-max-born", "nuvlabox-scissor1",
                                       "nuvlabox-scissor2", "nuvlabox-stanley-cohen", "nuvlabox-yves-chauvin",
                                       "nuvlabox-louis-neel"}
                      :template-keys [:href :key :secret :connector]}

 :cat-stratuslabiter {:connectors    #{"atos-es1"}
                      :template-keys [:href :key :secret :connector]}

 :cat-otc            {:connectors    #{"open-telekom-de1"}
                      :template-keys [:href :key :secret :connector :domain-name :tenant-name]}

 :cat-exoscale       {:connectors    #{"exoscale-ch-dk", "exoscale-ch-gva"}
                      :template-keys [:href :key :secret :connector :domain-name]}

 :cat-openstack      {:connectors    #{"advania-se1", "cyclone-de1", "cyclone-fr2", "cyclone-tb-it1", "ebi-embassy-uk1",
                                       "eo-cloudferro-pl1", "ifb-bird-stack", "ifb-bistro-iphc", "ifb-core-cloud",
                                       "ifb-core-pilot", "ifb-genouest-genostack", "ifb-prabi-girofle"}
                      :template-keys [:href :key :secret :connector :domain-name :tenant-name]}

 :cat-opennebula     {:connectors    #{"eo-cesnet-cz1", "scissor-fr1", "scissor-fr2", "scissor-fr3", "teidehpc-es-tfs1"}
                      :template-keys [:href :key :secret :connector]}

 :cat-ec2            {:connectors    #{"ec2-ap-northeast-1", "ec2-ap-southeast-1", "ec2-ap-southeast-2",
                                       "ec2-eu-central-1", "ec2-eu-west", "ec2-eu-west-2", "ec2-sa-east-1",
                                       "ec2-us-east-1", "ec2-us-west-1", "ec2-us-west-2"}
                      :template-keys [:href :key :secret :connector]}
 }


