{:api-db                  {
                           :classname   "org.hsqldb.jdbc.JDBCDriver"
                           :subprotocol "hsqldb"
                           :subname     "hsql://localhost:9001/ssclj"
                           :make-pool?  true}
 :auth-db                 {
                           :classname   "org.hsqldb.jdbc.JDBCDriver"
                           :subprotocol "hsqldb"
                           :subname     "hsql://localhost:9001/slipstream"
                           :make-pool?  true}

 :token-nb-minutes-expiry 120
 :passphrase              "sl1pstre8m"

 ;; Used by front server when redirecting (URL accessed only locally)
 :upstream-server         "http://localhost:8080"

 ;; Used by external authentication providers
 :auth-server             "http://localhost:8201"
 :main-server             "http://localhost:8201"

 ;; Application must be registered on Github
 ;; See https://github.com/settings/applications/new
 ;; Homepage URL can be <SlipStream end point>
 ;; The Authorization callback URL must be <SlipStream end point>/auth/callback-github
 :github-client-id        "cd03c88b13517f931f09"
 :github-client-secret    "6435cde7c22f0d543b07f13e311e0514c33460ad"}
