[Unit]
Description=SlipStream API
After=syslog.target
After=network.target
After=hsqldb.target

[Service]
Environment=SSCLJ_PORT=8201
EnvironmentFile=-/etc/default/ssclj

User=slipstream

WorkingDirectory=${installation.dir}

ExecStart=/usr/bin/java \
            -Dconfig.path=db.spec \
            -Dlogfile.path=production \
            -cp "resources:lib/ssclj.jar:lib/ext/*" \
            com.sixsq.slipstream.ssclj.app.main $SSCLJ_PORT
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
