.uservis {
    width: 50%;
    float: right;
    height: 500px;
}

.userssummary {
    width: 50%;
    float: left;
}

.infovis {
    height:400px;
}

.clear {
    clear: both;;
}

/*.id-list {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}
*/