[[org.clojure/clojure :scope "provided"]
 [org.clojure/clojurescript]
 [adzerk/boot-test :scope "test"]
 [adzerk/boot-reload :scope "test"]
 [tolitius/boot-check]
 [sixsq/boot-deputil]
 [funcool/boot-codeina]
 ;; [com.sixsq.slipstream/SlipStreamClientAPI-jar]
 ;; [com.sixsq.slipstream/SlipStreamPricingLib-jar]
 ]
