{:auth-db                 {
                           :classname   "org.hsqldb.jdbc.JDBCDriver"
                           :subprotocol "hsqldb"
                           :subname     "hsql://localhost:9001/slipstream"
                           :make-pool?  true}

 :token-nb-minutes-expiry 10080
 :passphrase              "sl1pstre8m"

 ;; Used by front server when redirecting (URL accessed only locally)
 :upstream-server         "http://localhost:8182"

 ;; The following properties require adaptations

 ;; Used by external authentication providers
 ;; auth-server and main-server typically contain same value
 ;; when nginx is the front proxy server
 :auth-server             "https://localhost:8182"
 :main-server             "https://localhost:8182"
 }
