{:db { 
  :classname    "org.hsqldb.jdbc.JDBCDriver" 
  :subprotocol  "hsqldb" 
  :subname      "mem://localhost:9012/devresources"
  :make-pool?   true}

 ;; small value to test token expired
 :nb-minutes-expiry 0.01}