{:auth-db                 {
                           :classname   "org.hsqldb.jdbc.JDBCDriver"
                           :subprotocol "hsqldb"
                           :subname     "mem://localhost:9012/devresources"
                           :make-pool?  true}

 :token-nb-minutes-expiry 10080
 :passphrase              "sl1pstre8m"}