{:slipstream-db           {
                           :classname   "org.hsqldb.jdbc.JDBCDriver"
                           :subprotocol "hsqldb"
                           :subname     "hsql://localhost:9001/slipstream"
                           :make-pool?  true}

 :token-nb-minutes-expiry 120}