[Unit]
Description=SlipStream Example Micro-Service
After=syslog.target
After=network.target

[Service]
EnvironmentFile=-/etc/default/slipstream/example

User=slipstream

WorkingDirectory=/opt/slipstream

ExecStart=/usr/bin/java \
            -cp "/opt/slipstream/ring-container/lib/*" \
            sixsq.slipstream.server.ring_container.main
ExecStop=/bin/kill -TERM $MAINPID

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
