[Unit]
Description=SlipStream Service
After=syslog.target network.target
After=hsqldb.service

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=${installation.dir}/etc/rc/slipstream start
ExecStop=${installation.dir}/etc/rc/slipstream stop
ExecReload=${installation.dir}/etc/rc/slipstream restart

[Install]
WantedBy=multi-user.target
