[Unit]
Description=SlipStream Service
After=syslog.target network.target
After=hsqldb.service cimi.service

[Service]
Environment=AUTH_PUBLIC_KEY=/etc/slipstream/auth/auth_pubkey.pem
RemainAfterExit=yes
Type=oneshot
ExecStart=${installation.dir}/etc/rc/slipstream start
ExecStop=${installation.dir}/etc/rc/slipstream stop
ExecReload=${installation.dir}/etc/rc/slipstream restart

[Install]
WantedBy=multi-user.target
